/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 2.75rem;
  background-color: rgb(45, 45, 45);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.sidebar-tab {
  flex: 1;
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #555;
  border-left: none;
  color: #ccc;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0;
}

.sidebar-tab:hover {
  background-color: #3a3a3a;
  border-color: #888;
  color: white;
}

.sidebar-tab.active {
  border-color: #adadad;
  color: #b8ffb8;
}

/* Main content */
.content {
  background-color: rgb(31, 31, 31);
  border-radius: 12px;
  height: 95%;
  width: 95%;
  margin-left: 0.75rem;
  box-sizing: border-box;
}

#message-area {
  position: fixed; /* float above everything */
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  animation: fadeIn 0.2s ease;
  opacity: 0.95;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 0.95;
    transform: translateY(0);
  }
}
